<h4>Top Headlines</h4>
<button class="submit" href="/saved">See your saved articles!</button>

{{#each articles}}
  <div class="row">
    <div class="col-sm-12 articleBox">
      <h2 class="articleTitle">{{this.title}}</h2>
      <h3 class="articleLink">{{this.link}}</h2>
      <button id="{{_id}}" data-id="{{_id}}" class="btn" type="submit">Save this</button>
    </div>
  </div>
{{/each}}
