<h2>Your Saved Articles</h4>

{{#each articles}}
  {{#if this.savedArticle}}
  <div class="row">
    <div class="col-sm-12 articleBox">
      <h2 class="articleTitle">{{this.title}}</h2>
      <h3 class="articleLink">{{this.link}}</h2>
      <button data-id="{{this._id}}" class="btn addNote" type="submit">Add note</button>
      <button data-id="{{this._id}}" class="btn deleteNote" type="submit">Delete this</button>
    </div>
  </div>
  {{/if}}
{{/each}}





